body {
  padding: 0px;
  margin: 0px;
}

@tailwind base;

/* :root {
  --primary: theme(colors.slate.400);
  --primaryRGB: rgb(148, 163, 184);
  --secondary: theme(colors.slate.500);
  --secondaryRGB: rgb(100, 116, 139);
} */

/* firefox styling */

/* * {
  scrollbar-width: auto;
  scrollbar-color: var(--secondary) var(--primarys);
} */

/* continue playing with scrollbar styling */

/* Chrome, Edge, and Safari */
/* *::-webkit-scrollbar {
  width: 1em;
  background: transparent;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 15px;
  border: 4px groove rgba(100, 116, 139, 0.5);
} */

@tailwind components;
@tailwind utilities;

@layer components {
  .MuiOutlinedInput-root.Mui-focused {
    @apply border-psl-active-link dark:border-psl-active-link border-2 border-solid;
  }
  .txt-main {
    @apply text-psl-primary dark:text-psl-active-text;
  }
  .txt-secondary {
    @apply text-psl-primary dark:text-psl-secondary-text;
  }
  .mui-input-inactive {
    @apply border-0 
    border-solid 
    border-b-2 
    border-b-psl-primary/40 
    dark:border-b-psl-secondary-text/40 
    hover:border-b-psl-active-link 
    hover:dark:border-b-psl-active-link;
  }
  .interact-main {
    @apply text-psl-primary dark:text-psl-active-text hover:text-psl-active-link hover:dark:text-psl-active-link;
  }
  .dialog-background {
    @apply bg-psl-active-text dark:bg-psl-primary;
  }
  .txt-inactive {
    @apply text-psl-primary/40 dark:text-psl-secondary-text/40;
  }
}

@layer utilities {
  .mui-input-active {
    @apply border-b-psl-active-link 
    dark:border-b-psl-active-link 
    border-0 
    border-b-2 
    border-solid;
  }
  .mui-checked {
    @apply text-psl-active-link;
  }

  /* .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selecte {
    @apply bg-psl-primary/10 hover:bg-psl-primary/20 dark:bg-psl-secondary-text/10 hover:dark:bg-psl-secondary-text/20;
  } */
}

.css-1ps6pg7-MuiPaper-root {
  @apply bg-psl-active-text dark:bg-psl-primary;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  @apply text-psl-primary dark:text-psl-active-text hover:text-psl-active-link hover:dark:text-psl-active-link;
}

.css-cveggr-MuiListItemIcon-root {
  @apply text-psl-primary dark:text-psl-active-text peer-hover:text-psl-active-link peer-hover:dark:text-psl-active-link;
}

.MuiCircularProgress-colorPrimary {
  @apply text-psl-active-link;
}

/* .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
} */

/* .MuiDataGrid-panelHeader {
  @apply bg-red-500;
} */
/* 
.MuiFormLabel-root {
  @apply text-psl-primary dark:text-psl-active-text focus:text-psl-active-link focus:dark:text-psl-active-link;
} */
