body {
  padding: 0px;
  margin: 0px;
}

@tailwind base;

/* :root {
  --primary: theme(colors.slate.400);
  --primaryRGB: rgb(148, 163, 184);
  --secondary: theme(colors.slate.500);
  --secondaryRGB: rgb(100, 116, 139);
} */

/* firefox styling */

/* * {
  scrollbar-width: auto;
  scrollbar-color: var(--secondary) var(--primarys);
} */

/* continue playing with scrollbar styling */

/* Chrome, Edge, and Safari */
/* *::-webkit-scrollbar {
  width: 1em;
  background: transparent;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 15px;
  border: 4px groove rgba(100, 116, 139, 0.5);
} */

@tailwind components;
@tailwind utilities;

@layer components {
  .txt-main {
    @apply text-psl-primary dark:text-psl-active-text;
  }
  .txt-secondary {
    @apply text-psl-primary dark:text-psl-secondary-text;
  }
  .mui-input-active {
    @apply border-b-psl-active-link 
    border-0 
    border-b-2 
    border-solid;
  }
  .mui-input-inactive {
    @apply border-0 
    border-solid 
    border-b-2 
    border-b-psl-primary/40 
    dark:border-b-psl-secondary-text/40 
    hover:border-b-psl-active-link 
    hover:dark:border-b-psl-active-link;
  }
  .interact-main {
    @apply text-psl-primary dark:text-psl-active-text hover:text-psl-active-link hover:dark:text-psl-active-link;
  }
  .dialog-background {
    @apply bg-psl-active-text dark:bg-psl-primary;
  }
  .txt-inactive {
    @apply text-psl-primary/40 dark:text-psl-secondary-text/40;
  }
}
